*{
    margin: 0px;
}

body {
    font-family: "Avenir Next";
  }
  
li {
    list-style: none;
    }
.header {
    background-color: #3f5a8f;
    color: #fff;
    height: 90px;
  }
  
.header-logo {
    float: left;
    font-size: 36px;
    padding: 20px 40px;
    font-weight:bold;
    letter-spacing: 5px;
  }
  
  .header-list li {
    float: left;
    padding: 33px 20px;
  }
  .footer{
    height:120px;
    background-color:#3F5A8F;
}
.footer h1{
    font-size:32px;
    color:#fff;
    float:right;
    padding:20px 40px;
    letter-spacing:5px;

}
.footer-list{
    color: #fff;
    float:left
}
li{
    list-style:none;
    padding-bottom:20px;
}
/*CSS untuk top-wrapper*/
.top-wrapper{
    padding-top:380px;
    padding-bottom:100px;
    color:white;
    background-image:url(../img/top-wrapper2.png);
    background-size:cover;   
    background-position: center;
}

/* css content no 10 */

.content-wrapper{
    max-width: 1920px;
}

.clear{
    clear: left
}

.content{
    width: 20%;
    margin: 0px 0px;
    float: left;
}

.content-icon{
    width: 100%;
}

.content-icon img{
    width: 100%;
}

.content p{
    margin-top: 10px;
    text-align: center;
    font-family: "Avenir Next";
}

.content-title{
    font-weight: bold;
    font-size: 25px; 
}

.content-list{
    font-size: 17px; 
    font-weight: bold;
    letter-spacing: 3px;
    margin-bottom: 8px;
}

.container{
    padding-top: 80px;
    padding-bottom: 80px;
}

/* end of css content no 10 */
